Repository HamaHama-Dev/pupmory, pull requests merged in 2023-10, with the labels that each got.

#35 [~10/12] 도와줄개 API 구현
  backend/src/main/java/com/hamahama/pupmory/controller/CommunityController.java
  backend/src/main/java/com/hamahama/pupmory/domain/community/Help.java
  backend/src/main/java/com/hamahama/pupmory/domain/community/HelpRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/community/HelpAnswerSaveRequestDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/community/HelpSaveRequestDto.java
  backend/src/main/java/com/hamahama/pupmory/service/CommunityService.java
Labels: feature, backend

#40 [~10/03] 메모리얼 본인 페이지 구현
  client/lib/memorial/memorial_detail.dart
  client/lib/memorial/memorial_main.dart
Labels: feature, client

#41 [~10/19] 도움 내역 구현
  client/lib/help/answer_help_request.dart
  client/lib/help/help_main.dart
  client/lib/help/received_help.dart
  client/lib/help/write_help_request.dart
Labels: feature, client

#42 [~10/19] 로그인 페이지 구현
  client/lib/sign/google_log_in.dart
  client/lib/sign/sign_in.dart
  client/lib/sign/sign_up2.dart
Labels: feature, client

#43 [~10/20] 워드클라우드 API 구현 외
  backend/build.gradle
  backend/src/main/java/com/hamahama/pupmory/controller/CommunityController.java
  backend/src/main/java/com/hamahama/pupmory/controller/MemorialController.java
  backend/src/main/java/com/hamahama/pupmory/controller/SearchController.java
  backend/src/main/java/com/hamahama/pupmory/controller/SignInController.java
  backend/src/main/java/com/hamahama/pupmory/controller/UserController.java
  backend/src/main/java/com/hamahama/pupmory/domain/community/Help.java
  backend/src/main/java/com/hamahama/pupmory/domain/community/WordCloud.java
  backend/src/main/java/com/hamahama/pupmory/domain/community/WordCloudRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/search/SearchHistoryRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/user/ServiceUser.java
  backend/src/main/java/com/hamahama/pupmory/domain/user/ServiceUserRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/community/WordCloudRequestDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/memorial/PostAllResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/memorial/PostDetailResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/pojo/PostMeta.java
  backend/src/main/java/com/hamahama/pupmory/pojo/Token.java
  backend/src/main/java/com/hamahama/pupmory/pojo/WordCount.java
  backend/src/main/java/com/hamahama/pupmory/service/CommunityService.java
  backend/src/main/java/com/hamahama/pupmory/service/MemorialService.java
  backend/src/main/java/com/hamahama/pupmory/service/SearchService.java
  backend/src/main/java/com/hamahama/pupmory/service/SignInService.java
  backend/src/main/java/com/hamahama/pupmory/service/UserService.java
  backend/src/main/java/com/hamahama/pupmory/util/signin/JwtKit.java
  backend/src/main/python/wcloud.py
  backend/src/main/resources/application.yml
Labels: feature, backend

#46 [~10/19] 로그인 페이지 구현 (2)
  client/lib/sign/password_reset.dart
  client/lib/sign/sign_in.dart
  client/lib/sign/sign_up2.dart
Labels: feature, client

#48 [~10/29] 로그인 API 수정 & 회원가입 API 추가
  backend/src/main/java/com/hamahama/pupmory/controller/AuthController.java
  backend/src/main/java/com/hamahama/pupmory/controller/CommunityController.java
  backend/src/main/java/com/hamahama/pupmory/controller/MemorialController.java
  backend/src/main/java/com/hamahama/pupmory/controller/SearchController.java
  backend/src/main/java/com/hamahama/pupmory/controller/SignInController.java
  backend/src/main/java/com/hamahama/pupmory/controller/UserController.java
  backend/src/main/java/com/hamahama/pupmory/domain/user/ServiceUser.java
  backend/src/main/java/com/hamahama/pupmory/domain/user/ServiceUserRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/auth/SignUpRequestDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/auth/SignUpResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/pojo/ErrorMessage.java
  backend/src/main/java/com/hamahama/pupmory/service/AuthService.java
  backend/src/main/java/com/hamahama/pupmory/service/SignInService.java
  backend/src/main/java/com/hamahama/pupmory/util/auth/JwtKit.java
Labels: feature, backend

#49 [~10/29] 메일인증 시스템 & 댓글 작성자 정보 추가
  backend/build.gradle
  backend/src/main/java/com/hamahama/pupmory/controller/AuthController.java
  backend/src/main/java/com/hamahama/pupmory/controller/CommunityController.java
  backend/src/main/java/com/hamahama/pupmory/controller/MemorialController.java
  backend/src/main/java/com/hamahama/pupmory/domain/auth/ValidationCode.java
  backend/src/main/java/com/hamahama/pupmory/domain/auth/ValidationCodeRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/community/HelpRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/memorial/PostRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/memorial/CommentResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/pojo/HelpLog.java
  backend/src/main/java/com/hamahama/pupmory/service/AuthService.java
  backend/src/main/java/com/hamahama/pupmory/service/CommunityService.java
  backend/src/main/java/com/hamahama/pupmory/service/MemorialService.java
  backend/src/main/java/com/hamahama/pupmory/util/auth/MailKit.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/auth-mail.html
Labels: feature, backend

#50 [~10/29] 피드 uid 추가 & 메모리얼 저장 시 date 필드 추가
  backend/src/main/java/com/hamahama/pupmory/dto/memorial/FeedPostResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/memorial/PostRequestDto.java
  backend/src/main/java/com/hamahama/pupmory/service/MemorialService.java
  backend/src/main/java/com/hamahama/pupmory/service/SearchService.java
Labels: bug, backend

#51 [~10/29] 사용자 추가 정보 저장 & 도움내역 필드 추가
  backend/src/main/java/com/hamahama/pupmory/controller/CommunityController.java
  backend/src/main/java/com/hamahama/pupmory/controller/ConversationController.java
  backend/src/main/java/com/hamahama/pupmory/controller/UserController.java
  backend/src/main/java/com/hamahama/pupmory/dto/community/HelpResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/user/UserInfoUpdateDto.java
  backend/src/main/java/com/hamahama/pupmory/service/CommunityService.java
  backend/src/main/java/com/hamahama/pupmory/service/ConversationService.java
  backend/src/main/java/com/hamahama/pupmory/service/UserService.java
Labels: bug, feature, backend

#52 [~11/3] 워드클라우드 커맨드 수정 및 API 스펙 변경
  backend/src/main/java/com/hamahama/pupmory/controller/CommunityController.java
  backend/src/main/java/com/hamahama/pupmory/service/CommunityService.java
Labels: bug, backend
