Repository HamaHama-Dev/pupmory, pull requests merged in 2023-06, with the labels that each got.

#6 [~6/13] DB 연결 및 테스트 테이블 생성
  backend/build.gradle
  backend/src/main/java/com/hamahama/pupmory/domain/user/ServiceUser.java
  backend/src/main/java/com/hamahama/pupmory/domain/user/ServiceUserRepository.java
  backend/src/main/resources/application.yml
Labels: feature, backend

#10 [~6/13] 대화 세트 목록 가져오기 API
  backend/src/main/java/com/hamahama/pupmory/controller/ConversationController.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/MetaData.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/MetaDataId.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/MetaDataRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/result/SetResultId.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/result/UserSetResult.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/result/UserSetResultRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/SetRequestDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/SetResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/service/ConversationService.java
Labels: feature, backend

#12 [~6/14] 프로토타입 초기 메인 홈 화면 구성
  client/.gitignore
  client/.metadata
  client/README.md
  client/analysis_options.yaml
  client/android/.gitignore
  client/android/app/build.gradle
  client/android/app/google-services.json
  client/android/app/src/debug/AndroidManifest.xml
  client/android/app/src/google-services.json
  client/android/app/src/main/AndroidManifest.xml
  client/android/app/src/main/kotlin/com/pupmory/client/MainActivity.kt
  client/android/app/src/main/res/drawable-v21/launch_background.xml
  client/android/app/src/main/res/drawable/launch_background.xml
  client/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  client/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  client/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  client/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  client/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  client/android/app/src/main/res/values-night/styles.xml
  client/android/app/src/main/res/values/styles.xml
  client/android/app/src/profile/AndroidManifest.xml
  client/android/build.gradle
  client/android/gradle.properties
  client/android/gradle/wrapper/gradle-wrapper.properties
  client/android/settings.gradle
  client/assets/images/background_test.png
  client/assets/images/badge_check.png
  client/assets/images/con1_button.png
  client/assets/images/conversation_button.png
  client/assets/images/dog_gallery.png
  client/assets/images/dog_test.png
  client/assets/images/help_button.png
  client/assets/images/help_request_button.png
  client/assets/images/home_right_arrow.png
  client/assets/images/illust_test.png
  client/assets/images/left_arrow.png
  client/assets/images/proto_recommend1.png
  client/assets/images/pupmory_logo.png
  client/lib/home.dart
  client/lib/main.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/web/favicon.png
  client/web/icons/Icon-192.png
  client/web/icons/Icon-512.png
  client/web/icons/Icon-maskable-192.png
  client/web/icons/Icon-maskable-512.png
  client/web/index.html
  client/web/manifest.json
Labels: feature, client

#13 [~6/13] 특정 대화 세트의 질문에 대한 캐릭터 답변 가져오기 API
  backend/build.gradle
  backend/src/main/java/com/hamahama/pupmory/controller/ConversationController.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/AnswerData.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/AnswerDataId.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/AnswerDataRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/GptAnswerData.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/GptAnswerDataRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/result/AnswerResultId.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/result/UserAnswerResult.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/result/UserAnswerResultRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/AnswerRequestDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/AnswerResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/ChatRequest.java
  backend/src/main/java/com/hamahama/pupmory/dto/ChatResponse.java
  backend/src/main/java/com/hamahama/pupmory/dto/Choice.java
  backend/src/main/java/com/hamahama/pupmory/dto/Message.java
  backend/src/main/java/com/hamahama/pupmory/service/ChatgptService.java
  backend/src/main/java/com/hamahama/pupmory/service/ConversationService.java
  backend/src/main/java/com/hamahama/pupmory/service/GptService.java
  backend/src/main/java/com/hamahama/pupmory/service/impl/DefaultChatgptService.java
  backend/src/main/resources/application.yml
Labels: feature, backend

#16 [~6/17] 프로토타입 변경사항으로 인한 GPT API 패치
  backend/src/main/java/com/hamahama/pupmory/controller/ConversationController.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/AnswerDataRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/GptAnswerData.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/GptAnswerDataRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/result/AnswerResultId.java
  backend/src/main/java/com/hamahama/pupmory/dto/AnswerRequestDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/AnswerResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/service/ConversationService.java
  backend/src/main/java/com/hamahama/pupmory/service/GptService.java
Labels: bug, feature, backend

#18 [~6/18] 대화 API method 변경
  backend/src/main/java/com/hamahama/pupmory/controller/ConversationController.java
Labels: bug, backend
