Repository HamaHama-Dev/pupmory, pull requests merged in 2023-11, with the labels that each got.

#53 [~10/19] 메일 인증 추가 & 인트로 연결
  client/lib/sign/sign_in.dart
  client/lib/sign/sign_up2.dart
Labels: feature, client

#57 [~11/14] 사용자 정보 조회 API 패치 & 대화 상태 업데이트 API 추가 외
  backend/src/main/java/com/hamahama/pupmory/controller/UserController.java
  backend/src/main/java/com/hamahama/pupmory/domain/community/HelpRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/user/ServiceUser.java
  backend/src/main/java/com/hamahama/pupmory/dto/memorial/FeedPostResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/user/ConversationStatusUpdateDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/user/UserInfoResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/service/CommunityService.java
  backend/src/main/java/com/hamahama/pupmory/service/MemorialService.java
  backend/src/main/java/com/hamahama/pupmory/service/UserService.java
  backend/src/main/java/com/hamahama/pupmory/util/auth/MailKit.java
Labels: bug, feature, backend

#59 [~11/14] 초기 GPT API 구현
  backend/src/main/java/com/hamahama/pupmory/controller/ConversationController.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/GptEmotionData.java
  backend/src/main/java/com/hamahama/pupmory/domain/conversation/data/GptEmotionDataRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/conversation/EmotionRequestDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/conversation/EmotionResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/service/GptService.java
Labels: feature, backend

#63 [~11/19] 마이페이지 API 구현
  backend/src/main/java/com/hamahama/pupmory/controller/MyPageController.java
  backend/src/main/java/com/hamahama/pupmory/controller/UserController.java
  backend/src/main/java/com/hamahama/pupmory/domain/community/HelpRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/community/WordCloudRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/memorial/CommentRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/memorial/PostRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/memorial/UserLikeRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/mypage/Announcement.java
  backend/src/main/java/com/hamahama/pupmory/domain/mypage/AnnouncementRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/search/SearchHistoryRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/mypage/AnnouncementDetailDto.java
  backend/src/main/java/com/hamahama/pupmory/dto/mypage/AnnouncementMetaDto.java
  backend/src/main/java/com/hamahama/pupmory/service/MyPageService.java
  backend/src/main/java/com/hamahama/pupmory/service/UserService.java
Labels: feature, backend

#64 [~11/19] 사용자 대화 정보 저장 API 패치
  backend/src/main/java/com/hamahama/pupmory/service/UserService.java
Labels: bug, backend

#65 [~11/19] 메모리얼 삭제 API 구현 및 좋아요 수 누락 패치
  backend/src/main/java/com/hamahama/pupmory/controller/MemorialController.java
  backend/src/main/java/com/hamahama/pupmory/domain/memorial/CommentRepository.java
  backend/src/main/java/com/hamahama/pupmory/domain/memorial/UserLikeRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/memorial/PostDetailResponseDto.java
  backend/src/main/java/com/hamahama/pupmory/service/MemorialService.java
Labels: bug, feature, backend

#68 [~11/20] 사용자 검색기록 전체 삭제 및 댓글 이력 조회 API 구현
  backend/src/main/java/com/hamahama/pupmory/controller/MyPageController.java
  backend/src/main/java/com/hamahama/pupmory/controller/SearchController.java
  backend/src/main/java/com/hamahama/pupmory/domain/memorial/CommentRepository.java
  backend/src/main/java/com/hamahama/pupmory/dto/mypage/CommentMetaDto.java
  backend/src/main/java/com/hamahama/pupmory/service/MyPageService.java
  backend/src/main/java/com/hamahama/pupmory/service/SearchService.java
Labels: feature, backend

#69 [~11/20] 워드클라우드 합산 기능 추가 및 인코딩 패치
  backend/src/main/java/com/hamahama/pupmory/service/CommunityService.java
  backend/src/main/python/wcloud.py
Labels: bug, backend

#72 [~11/20] 빌드 환경 변경에 따른 워드클라우드 패치
  backend/src/main/java/com/hamahama/pupmory/service/CommunityService.java
  backend/src/main/python/wcloud.py
Labels: bug, backend

#73 [~11/20] 빌드 및 배포 파일 작성
  .github/workflows/build-n-publish.yml
  Dockerfile
  deploy.sh
Labels: backend, ci/cd
